<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=EFirw5SIruFFy3l9qYlUX7QB6BAf1KEa"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
	<script src="/js/GeoUtils.js" type="text/javascript"></script>
	<title>测距</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");

    map.enableScrollWheelZoom(true);//开启鼠标滚动
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));

	//设置本地坐标
	var positionTemp = "";

	//浏览器定位
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			var mk = new BMap.Marker(r.point);
			var point = new BMap.Point(r.point.lng,r.point.lat);
			map.addOverlay(mk);
			map.panTo(r.point);
			map.centerAndZoom(point,16);
		}
		else {
			alert('failed'+this.getStatus());
		}
	},{enableHighAccuracy: true})


    //添加控件和比例尺
	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	map.addControl(top_left_control);

	//定位控件
	 var navigationControl = new BMap.NavigationControl({
		// 靠左上角位置
		anchor: BMAP_ANCHOR_TOP_LEFT,
		// LARGE类型
		type: BMAP_NAVIGATION_CONTROL_LARGE,
		// 启用显示定位
		enableGeolocation: true
	  });
	  map.addControl(navigationControl);
	  // 添加定位控件
	  var geolocationControl = new BMap.GeolocationControl();
	  geolocationControl.addEventListener("locationSuccess", function(e){
		// 定位成功事件
		var address = '';
		address += e.addressComponent.province;
		address += e.addressComponent.city;
		address += e.addressComponent.district;
		address += e.addressComponent.street;
		address += e.addressComponent.streetNumber;
	  });
	  geolocationControl.addEventListener("locationError",function(e){
		// 定位失败事件
		alert(e.message);
	  });
	  map.addControl(geolocationControl);


    //测距变量
    var myDis = new BMapLib.DistanceTool(map);

    //设置鼠标绘制工具
    var overlays = [];
    var overlaycomplete = function (e) {
        overlays.push(e.overlay);
        var path = e.overlay.getPath();//Array<Point> 返回多边型的点数组
        for (var i = 0; i < path.length; i++) {
			if(i == 0){
				positionTemp = path[i].lng +','+path[i].lat;
			pointStr += "new BMap.Point("+path[i].lng+","+path[i].lat+")";
			}else{
			pointStr += ",new BMap.Point("+path[i].lng+","+path[i].lat+")";
			}
        }
		fun(funtemp, positionTemp, pointStr, '该区域面积位', 'purple');
		pointStr = "";
		positionTemp = "";
		funtemp++;
    };

    var styleOptions = {
        strokeColor: "red",    //边线颜色。
        fillColor: "red",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
        fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    };
    var drawingManager = new BMapLib.DrawingManager(map, {
        isOpen: false, //是否开启绘制模式
        enableDrawingTool: true, //是否显示工具栏
        drawingToolOptions: {
            anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
            offset: new BMap.Size(5, 5), //偏离值
            drawingModes: [
                BMAP_DRAWING_POLYGON
            ],
            drawingTypes : [
                BMAP_DRAWING_POLYGON,//多边形的样式
            ]
        },
        // enableCalculate: true, //绘制是否进行测距(画线时候)、测面(画圆、多边形、矩形)
        polygonOptions: styleOptions, //多边形的样式
    });
    //添加鼠标绘制工具监听事件，用于获取绘制结果
    drawingManager.addEventListener('overlaycomplete', overlaycomplete);



    //创建右键菜单
	  var menu = new BMap.ContextMenu();
		var txtMenuItem = [
			{
				text:'测距',
				callback:function(){myDis.open();}
			},
			/*{
				text:'添加面积',
				callback:function(){map.addEventListener("click", measureArea);}
			},*/
			{
				text:'重置测量位置',
				callback:function(){clearPoint();}
			}
		];
		for(var i=0; i < txtMenuItem.length; i++){
			menu.addItem(new BMap.MenuItem(txtMenuItem[i].text,txtMenuItem[i].callback,100));
		}
		map.addContextMenu(menu);


		//测量面积数组
		// var pointArr = new Array();
		// var polylineArr = new Array();
		// var pointStr = "";
		// var step = 0;
		// var funtemp = 1;
		// //添加测量面积点
		// function addPoint(e){
		// 	if(step ==0 ){
		// 		positionTemp = e.point.lng+","+e.point.lat
		// 		pointArr[step]=new BMap.Point(e.point.lng,e.point.lat);
		// 		pointStr += "new BMap.Point("+e.point.lng+","+e.point.lat+")";
		// 	}else{
		// 		pointArr[step]=new BMap.Point(e.point.lng,e.point.lat);
		// 		pointStr += ",new BMap.Point("+e.point.lng+","+e.point.lat+")";
		// 		polylineArr[step]=new BMap.Polyline([pointArr[step-1],pointArr[step]], {strokeColor:"blue", strokeWeight:6, strokeOpacity:0.5});
		// 		map.addOverlay(polylineArr[step]);
		// 	}
		// 	step++;
		// }

		//重置测量位置
		function clearPoint(){
			pointArr = new Array();
			polylineArr = new Array();
			pointStr = "";
			step = 0;
			funtemp = 1;
			//所有显示层
			map.clearOverlays();
		}

		//计算距离
		// function calculateDistance(){
		// 	for (var i = 0;i < step;i++){
		// 		if(i != 0){
		// 			map.removeOverlay(polylineArr[i]);
		// 		}
		// 	}
		// 	fun(funtemp, positionTemp, pointStr, '该区域面积位', 'purple');
		// 	pointArr = new Array();
		// 	polylineArr = new Array();
		// 	pointStr = "";
		// 	step = 0;
		// 	funtemp++;
		// }
        //

		//绘制图形，计算面积
		function fun(i,xy,arr,wb,ys) {
            //创建经纬度数组
            eval("var secRingCenter" + i+" = new BMap.Point("+xy+")");
            eval("var secRing"+i+" = ["+arr+"]");
            //创建多边形
            eval("var secRingPolygon" + i + "= new BMap.Polygon(secRing" + i + ", { strokeColor: \"" + ys + "\", strokeWeight: 4})");
            //eval("var secRingPolygon" + i + "= new BMap.Polygon(secRing" + i + ", { FillColor:\"red\", strokeColor: \"blue\", strokeWeight: 2, strokeOpacity: 0.3 })");

            //添加多边形到地图上
            map.addOverlay(eval("secRingPolygon"+i));

            var resultArea = BMapLib.GeoUtils.getPolygonArea(eval("secRingPolygon" + i)); //计算多边形的面积（单位米）

            //给多边形添加鼠标事件
            eval("secRingPolygon"+i).addEventListener("mouseover", function () {//鼠标经过时
                eval("secRingPolygon" + i).setStrokeColor("red"); //多边形边框为红色
                //eval("secRingPolygon" + i).setFillColor(ys);
                map.addOverlay(eval("secRingLabel"+i)); //添加多边形遮照
                //map.panTo(eval("secRingCenter"+i)); //将地图移动到指定点
            });
            eval("secRingPolygon"+i).addEventListener("mouseout", function () {
                eval("secRingPolygon" + i).setStrokeColor(ys);
                //eval("secRingPolygon" + i).setFillColor("");
                map.removeOverlay(eval("secRingLabel"+i));
            });
            eval("secRingPolygon"+i).addEventListener("click", function () {
                map.zoomIn();
                eval("secRingPolygon" + i).setStrokeColor(ys);
                //eval("secRingPolygon" + i).setFillColor("");
                map.setCenter(eval("secRingCenter"+i));
            });
            //创建标签
            eval("var secRingLabel" + i + "= new BMap.Label(\"<b>" + wb + " 面积(㎡)：" + Math.floor(resultArea) + "</b>\", { offset: new BMap.Size(0, 0), position: secRingCenter" + i + "})");
            eval("secRingLabel"+i).setStyle({ "z-index": "999999", "padding": "2px",  "border": "1px solid #ccff00" });
        }
</script>
