<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=EFirw5SIruFFy3l9qYlUX7QB6BAf1KEa"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
	<script src="/js/GeoUtils.js" type="text/javascript"></script>
	<title>测距</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    var map = new BMap.Map("allmap", {enableMapClick:false});

    map.enableScrollWheelZoom(true);//开启鼠标滚动
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));

    //测距变量
    var myDis = new BMapLib.DistanceTool(map);

    //定义控件 距离测量
    function ZoomControl1(){
        this.defaultAnchor = BMAP_ANCHOR_BOTTOM_RIGHT;
        this.defaultOffset = new BMap.Size(10, 10);
    }
    ZoomControl1.prototype = new BMap.Control();

    ZoomControl1.prototype.initialize = function(map) {
        // 创建一个DOM元素
        var button1 = document.createElement("button");
        // 添加文字说明
        button1.appendChild(document.createTextNode("距离测量"));
        button1.id = 'button1';
        button1.onclick = function () {
            myDis.open();
        };
        map.getContainer().appendChild(button1);
        return button1;
    }
    var myZoomCtrl1 = new ZoomControl1();
    map.addControl(myZoomCtrl1);



    //定义控件 结束步行测量
    function ZoomControl4(){
        this.defaultAnchor = BMAP_ANCHOR_BOTTOM_RIGHT;
        this.defaultOffset = new BMap.Size(10, 10);
    }
    ZoomControl4.prototype = new BMap.Control();

    ZoomControl4.prototype.initialize = function(map) {
        // 创建一个DOM元素
        var button4 = document.createElement("button");
        // 添加文字说明
        button4.appendChild(document.createTextNode("结束测量"));
        button4.style.display = 'none';
        button4.id = 'button4';
        button4.onclick = function () {
			endWalk();
        }
        map.getContainer().appendChild(button4);
        return button4;
    }
    // 创建控件
    var myZoomCtrl4 = new ZoomControl4();
    // 添加到地图当中
    map.addControl(myZoomCtrl4);




    //定义控件 步行测量
    function ZoomControl2(){
        this.defaultAnchor = BMAP_ANCHOR_BOTTOM_RIGHT;
        this.defaultOffset = new BMap.Size(100, 10);
    }
    ZoomControl2.prototype = new BMap.Control();

    ZoomControl2.prototype.initialize = function(map){
        var button2 = document.createElement("button");
        button2.appendChild(document.createTextNode("步行测量"));
        button2.onclick = function(){map.addEventListener("click", walkDinstance());}
        button2.id = 'button2';
        map.getContainer().appendChild(button2);
        return button2;
    }
    var myZoomCtrl2 = new ZoomControl2();
    map.addControl(myZoomCtrl2);

    // //定义控件 结束距离测量
    // function ZoomControl5(){
    //     this.defaultAnchor = BMAP_ANCHOR_BOTTOM_RIGHT;
    //     this.defaultOffset = new BMap.Size(20, 10);
    // }
    // ZoomControl5.prototype = new BMap.Control();
    //
    // ZoomControl5.prototype.initialize = function(map){
    //     var button5 = document.createElement("button");
    //     button5.appendChild(document.createTextNode("面积测量"));
    //     button5.onclick = function(){map.addEventListener("click", walkDinstance());}
    //     button5.id = 'button5';
    //     map.getContainer().appendChild(button5);
    //     return button5;
    // }
    // var myZoomCtrl5 = new ZoomControl5();
    // map.addControl(myZoomCtrl5);


    //定义控件 重置测量位置
    function ZoomControl3(){
        this.defaultAnchor = BMAP_ANCHOR_BOTTOM_RIGHT;
        this.defaultOffset = new BMap.Size(200, 10);

    }
    ZoomControl3.prototype = new BMap.Control();

    ZoomControl3.prototype.initialize = function(map){
        var button3 = document.createElement("button");
        button3.appendChild(document.createTextNode("重置测量位置"));
        button3.onclick = function(){clearPoint();}
        button3.id = 'button3';
        map.getContainer().appendChild(button3);
        return button3;
    }
    // 创建控件
    var myZoomCtrl3 = new ZoomControl3();
    // 添加到地图当中
    map.addControl(myZoomCtrl3);

    //设置本地坐标
    var positionTemp = "";

    // //浏览器定位
    // var geolocation = new BMap.Geolocation();
    // geolocation.getCurrentPosition(function(r){
    //     if(this.getStatus() == BMAP_STATUS_SUCCESS){
    //         var mk = new BMap.Marker(r.point);
    //         var point = new BMap.Point(r.point.lng,r.point.lat);
    //         map.addOverlay(mk);
    //         map.panTo(r.point);
    //         map.centerAndZoom(point,16);
    //     }
    //     else {
    //         alert('failed'+this.getStatus());
    //     }
    // },{enableHighAccuracy: true})


    //添加控件和比例尺
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
    map.addControl(top_left_control);

    //定位控件
    var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
    });
    map.addControl(navigationControl);
    // 添加定位控件
    var geolocationControl = new BMap.GeolocationControl();
    geolocationControl.addEventListener("locationSuccess", function(e){
        // 定位成功事件
        var address = '';
        address += e.addressComponent.province;
        address += e.addressComponent.city;
        address += e.addressComponent.district;
        address += e.addressComponent.street;
        address += e.addressComponent.streetNumber;
    });
    geolocationControl.addEventListener("locationError",function(e){
        // 定位失败事件
        alert(e.message);
    });
    map.addControl(geolocationControl);


    //设置鼠标绘制工具
    var overlays = [];
    var overlaycomplete = function (e) {
        overlays.push(e.overlay);
        var path = e.overlay.getPath();//Array<Point> 返回多边型的点数组
        for (var i = 0; i < path.length; i++) {
            if(i == 0){
                positionTemp = path[i].lng +','+path[i].lat;
                pointStr += "new BMap.Point("+path[i].lng+","+path[i].lat+")";
            }else{
                pointStr += ",new BMap.Point("+path[i].lng+","+path[i].lat+")";
            }
        }
        fun(funtemp, positionTemp, pointStr, '该区域面积位', 'purple');
        pointStr = "";
        positionTemp = "";
        funtemp++;
    };

    var styleOptions = {
        strokeColor: "red",    //边线颜色。
        fillColor: "red",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
        fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    };
    var drawingManager = new BMapLib.DrawingManager(map, {
        isOpen: false, //是否开启绘制模式
        enableDrawingTool: true, //是否显示工具栏
        drawingToolOptions: {
            anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
            offset: new BMap.Size(100, 5), //偏离值
            drawingModes: [
                BMAP_DRAWING_POLYGON
            ],
            drawingTypes : [
                BMAP_DRAWING_POLYGON,//多边形的样式
            ]
        },
        // enableCalculate: true, //绘制是否进行测距(画线时候)、测面(画圆、多边形、矩形)
        polygonOptions: styleOptions, //多边形的样式
    });
    //添加鼠标绘制工具监听事件，用于获取绘制结果
    drawingManager.addEventListener('overlaycomplete', overlaycomplete);


    //测量面积数组
    var pointArr = new Array();
    var polylineArr = new Array();
    var pointStr = "";
    var step = 0;
    var funtemp = 1;

    //绘制图形，计算面积
    function fun(i,xy,arr,wb,ys) {
        //创建经纬度数组
        eval("var secRingCenter" + i+" = new BMap.Point("+xy+")");
        eval("var secRing"+i+" = ["+arr+"]");
        //创建多边形
        eval("var secRingPolygon" + i + "= new BMap.Polygon(secRing" + i + ", { strokeColor: \"" + ys + "\", strokeWeight: 4})");
        //eval("var secRingPolygon" + i + "= new BMap.Polygon(secRing" + i + ", { FillColor:\"red\", strokeColor: \"blue\", strokeWeight: 2, strokeOpacity: 0.3 })");

        //添加多边形到地图上
        map.addOverlay(eval("secRingPolygon"+i));

        var resultArea = BMapLib.GeoUtils.getPolygonArea(eval("secRingPolygon" + i)); //计算多边形的面积（单位米）

        if(resultArea<0 || isNaN(resultArea)){//判断值是否小于0或者不是数字
            alert("请画规则图形");
            clearPoint();
            return false;
        }

        //给多边形添加鼠标事件
        eval("secRingPolygon"+i).addEventListener("mouseover", function () {//鼠标经过时
            eval("secRingPolygon" + i).setStrokeColor("red"); //多边形边框为红色
            //eval("secRingPolygon" + i).setFillColor(ys);
            map.addOverlay(eval("secRingLabel"+i)); //添加多边形遮照
            //map.panTo(eval("secRingCenter"+i)); //将地图移动到指定点
        });
        eval("secRingPolygon"+i).addEventListener("mouseout", function () {
            eval("secRingPolygon" + i).setStrokeColor(ys);
            //eval("secRingPolygon" + i).setFillColor("");
            map.removeOverlay(eval("secRingLabel"+i));
        });
        eval("secRingPolygon"+i).addEventListener("click", function () {
            map.zoomIn();
            eval("secRingPolygon" + i).setStrokeColor(ys);
            //eval("secRingPolygon" + i).setFillColor("");
            map.setCenter(eval("secRingCenter"+i));
        });
        //创建标签
        eval("var secRingLabel" + i + "= new BMap.Label(\"<b>" + wb + " 面积(㎡)：" + Math.floor(resultArea) + "</b>\", { offset: new BMap.Size(0, 0), position: secRingCenter" + i + "})");
        eval("secRingLabel"+i).setStyle({ "z-index": "999999", "padding": "2px",  "border": "1px solid #ccff00" });
    }


    <!--步行定位画点-->
    //定义集合用来存放沿线的坐标值
    var chartData = [];
    //定义步行实体
    var  walking = new BMap.WalkingRoute(map, { renderOptions: { map: map, autoViewport: true} });
    var startpoint;
    var endpoint;
	var marker;
	var index;

    //浏览器定位 拿到起点位置的point 存入数组charData[] 下标为1;
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            marker= new BMap.Marker(r.point);
            map.addOverlay(marker);//添加覆盖物
            var point = new BMap.Point(r.point.lng,r.point.lat);
            startpoint =point;
            chartData.push(startpoint);
            map.panTo(r.point);
            map.centerAndZoom(point,16);
        }
        else {
            alert('failed'+this.getStatus());
        }
    },{enableHighAccuracy: true});



		function walkDinstance() {
		    //jQuery取消按钮显示
			$('#button1').css('display','none');
			$('#button2').css('display','none');
			$('#button3').css('display','none');
			$('#button4').css('display','block');
			//步行轨迹之前首先取消地图中所有的覆盖物
			index = 1
			ffff = true;
			map.clearOverlays();
			// map.centerAndZoom(chartData[0],25);
            marker = new BMap.Marker(chartData[0]);
			map.addOverlay(marker);//添加覆盖物
            marker.enableMassClear();
            marker.setAnimation(BMAP_ANIMATION_BOUNCE);//跳动的动画
			state = true;
			getCurrentPoint();

		}
        var index = 1;
		var ffff = true;
        var timer;



		function addPoint() {
		    //判断当前是否有两个坐标
            if (chartData.length >= 2){
			    var A = new BMap.Point(chartData[chartData.length-1].lng,chartData[chartData.length-1].lat);
			    var B = new BMap.Point(chartData[chartData.length-2].lng,chartData[chartData.length-2].lat);
                    var polyline = new BMap.Polyline([A,B],
                        {
                            strokeColor:"red", strokeWeight:6, strokeStyle:"dashed"
                        }
                    );
                map.addOverlay(polyline);
            }
		}
		function endWalk() {
            $('#button1').css('display','block');
            $('#button2').css('display','block');
            $('#button3').css('display','block');
            $('#button4').css('display','none');
            map.removeOverlay(marker);
            marker = new BMap.Marker(chartData[chartData.length-1]);
            map.addOverlay(marker);//添加终点覆盖物
            var startMarker = new BMap.Marker(chartData[0]);
            map.addOverlay(startMarker);//添加起点覆盖物
            startMarker.enableMassClear();
            marker.enableMassClear();
            ffff = false;
            clearInterval(timer);
        }

    function getCurrentPoint() {
        timer = setInterval(
            function () {
                if (ffff == true) {
                    geolocation.getCurrentPosition(function (r) {
                        if (ffff == true) {
                            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                                map.removeOverlay(marker);
                                var point = new BMap.Point(r.point.lng + 0.001 * index, r.point.lat + 0.001 * index);
                                index++;

                                if (chartData[chartData.length - 1].lng != point.lng && chartData[chartData.length - 1].lat != point.lat) {
                                    chartData.push(point);
                                    addPoint();
                                } else {

                                }

                                map.panTo(point);
                                marker = new BMap.Marker(point);
                                marker.enableMassClear();
                                map.addOverlay(marker);//添加覆盖物
                                marker.setAnimation(BMAP_ANIMATION_BOUNCE);//跳动的动画

                            }
                            else {
                                alert('failed' + this.getStatus());
                            }
						}

                    }, {enableHighAccuracy: true,});
                }      	},
            3000
        );
    }


    //重置测量位置
    function clearPoint(){
        pointArr = new Array();
        polylineArr = new Array();
        pointStr = "";
        step = 0;
        funtemp = 1;
        //所有显示层
        map.clearOverlays();
        var allOverLay = map.getOverlays();
        var mk = new BMap.Marker(chartData[chartData.length-1]);
        chartData = [];
        map.addOverlay(mk);
    }
</script>
